@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}

.card {
  perspective: 1000px;
  transform-style: preserve-3d;
}